<div class="container">
    <section class="row mt-5 text-center">
        <div class="col-md-6 m-auto">
            <h1><i class="fa fa-times fa-2x"></i></h1>
            <h1 class="display-4">Sorry!</h1>
            <p class="lead">Something went wrong, please go back and make sure all fields are filled in correctly</p>
            <a href="/" class="btn btn-secondary">Back</a>
        </div>
    </section>
</div>