<div class="container">
    <section class="row mt-5 text-center">
        <div class="col-md-6 m-auto">
            <h1><i class="fa fa-thumbs-up fa-2x"></i></h1>
            <h1 class="display-4">Success!</h1>
            <p class="lead">You are now signed up for our awesome monthly newsletter!</p>
            <a href="/" class="btn btn-secondary">Back</a>
        </div>
    </section>
</div>